section.card
  .card__container 
    h2.card__title._underline Digital Library Cards
    .card__wrapper 
      .card__inner
        h3.card__subtitle Find your Library card
        form.card__form.form 
          .form__inner
            h4.form__title Brooklyn Public Library
            .form__box 
              input.form__input(type="text" placeholder="Reader's name")
              input.form__input(type="text" placeholder="Card number")
          button.form__button Check the card
      .card__inner.card__login.login 
        h4.login__title Get a reader card
        .login__text You will be able to see a reader card after logging into account or you can register a new account
        .login__box 
          button.login__button.login__sign-up Sign Up
          button.login__button.login__sign-in Log in

      