@import '../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers';

.menu {
  &__list {
    list-style: none;
    padding: 0;
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
  }

  &__link {
    color: $color-white;
    line-height: 50px;
    letter-spacing: 0;

    text-decoration: none;
  }

  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

.hamburger {
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: block;
    margin-top: 8px;
  }
}
