.header {
  background-color: $color-dark-black;
  color: $color-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;
  }
}

@import './login/index';
@import './menu/index';
@import './profile/index';
