.header {
  background-color: $color-dark-black;
  color: $color-white;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    align-items: center;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: row-reverse;
    }
  }
}

@import './logo/index';
@import './menu/index';
@import './profile/index';
