section.contact
  .contact__container 
    h2.contact__title._underline Our Contacts
    .contact__wrapper
      .contact__info
        p.contact__text.contact__text--strong._mb40 For all Library inquiries:
        p.contact__text= 'Please call (617) 730-2370'
        p.contact__text= 'For TTY service, please call (617) 730-2370'
        p.contact__text._mb40= 'Putterham Library: (617) 730-2385'
        p.contact__text.contact__text--strong Senior Staff
        p.contact__text Library Director: 
          span.contact__text--strong Amanda Hirst
      img.contact__map(src="/src/assets/img/contact/map.jpg", alt="map")