button {
  cursor: pointer;

  border-radius: 2px;
  border: 1px solid $color-dark-black;

  color: $color-dark-black;
  background-color: transparent;

  text-align: center;
  font-size: 10px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: capitalize;
}
