.carousel {
  position: relative;
  width: 100%;
  height: 100%;

  @media (max-width: $breakpoint-tablet) {
    max-width: 450px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list.swiper-wrapper {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__item {
    transition: transform 1s;

    @media (max-width: $breakpoint-tablet) {
      flex: 0 0 100%;
    }
  }

  &__img {
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      height: auto;
    }
  }

  &__navigation {
    display: none;

    @media (max-width: $breakpoint-tablet) {
      display: block;
      max-width: 614px;
      width: 100%;

      position: absolute;
      bottom: 313px;
      left: calc(50% - (614px / 2));
    }

    @media (max-width: 660px) {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__pagination {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 13px;
    }
  }
}
