.carousel {
  position: relative;

  @media (max-width: $breakpoint-tablet) {
    max-width: 614px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    display: flex;

    overflow: hidden;

    @media (max-width: $breakpoint-tablet) {
      width: 450px;
    }

    @media (max-width: $breakpoint-mobile) {
      width: 100%;
    }
  }

  &__item {
    transition: transform 1s;

    &:not(:last-child) {
      margin-right: 25px;
    }

    @media (max-width: $breakpoint-mobile) {
      flex: 0 0 100%;
    }
  }

  &__img {
    @media (max-width: $breakpoint-mobile) {
      width: 100%;
      height: auto;
    }
  }

  &__navigation {
    display: none;

    @media (max-width: $breakpoint-tablet) {
      display: block;
    }

    @media (max-width: $breakpoint-mobile) {
      display: none;
    }
  }

  &__arrow {
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;

    position: absolute;
    top: calc(50% - 12px);

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }

  &__pagination {
    margin-top: 28px;
    display: flex;
    justify-content: center;

    @media (max-width: $breakpoint-tablet) {
      margin-top: 13px;
    }
  }

  &__dot {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;

    background-color: $color-dark-black;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.active {
      background-color: $color-gold;
    }

    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }

    @media (max-width: $breakpoint-tablet) {
      &:nth-child(4),
      &:nth-child(5) {
        display: block;
      }
    }
  }
}
