.footer__container
  .footer__wrapper 
    .footer__inner 
      p.footer__address 286 Cadman Plaza, New York, NY 11238, United States
      .footer__social.social 
        ul.social__list
          li.social__item 
            a(href="#twitter") 
              include ../../assets/icon_twitter.svg
          li.social__item 
            a(href="#instagram") 
              include ../../assets/icon_instagram.svg 
          li.social__item 
            a(href="#facebook") 
              include ../../assets/icon_facebook.svg 
    .footer__inner
      p.footer__work Mon - Fri
      p.footer__work 08:00 am - 07:00 pm
      p.footer__work._mt10 Sat - Sun
      p.footer__work 10:00 am - 06:00 pm
  .footer__box
    p.footer__year 2023
    a.footer__link(href="https://rs.school/js-stage0/" target="_blank") The Rolling Scopes School
    a.footer__link(href="https://github.com/maximiloi/library" target="_blank") maximiloi