body {
  color: $color-black;
  font-family: $font-text;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
