:root {
  --swiper-pagination-color: #bb945f;
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-fraction-color: inherit;
  --swiper-pagination-progressbar-bg-color: #0c0c0e;
  --swiper-pagination-progressbar-size: 4px;
  --swiper-pagination-bullet-size: 16px;
  --swiper-pagination-bullet-width: 16px;
  --swiper-pagination-bullet-height: 16px;
  --swiper-pagination-bullet-inactive-color: #0c0c0e;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 5px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}

body {
  color: $color-black;
  font-family: $font-text;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

[class*='__container'] {
  max-width: calc($desktop-container - ($desktop-padding * 2));
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 $desktop-padding;
}
