body {
  color: $color-black;
  font-family: $font-text;
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

[class*='__container'] {
  max-width: calc($desktop-container - ($desktop-padding * 2));
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 $desktop-padding;
}
