$font-title: 'Forum', cursive;
$font-text: 'Inter', sans-serif;

$font-size: 20px;
$font-size-desc: 15px;
$font-size-logo: 30px;
$font-size-title: 40px;

$color-black: #000000;
$color-dark-black: #0c0c0e;
$color-gold: #bb945f;
$color-white: #ffffff;
$color-grey: #8e8e8e;

$desktop-container: 1440px;
$desktop-padding: 20px;

$breakpoint-pc: 1259px;
$breakpoint-tablet: 999px;
$breakpoint-mobile: 569px;
