section.about
  .about__container
    h2.about__title._underline About
    p.about__text The Brooklyn Library is a free workspace, a large number of books and a cozy coffee shop inside

    .about__carousel.carousel
      ul.carousel__list
        li.carousel__item
          img(src='./img/about/image_01.jpg' alt='slide 1')
        li.carousel__item
          img(src='./img/about/image_03.jpg' alt='slide 2')
        li.carousel__item
          img(src='./img/about/image_05.jpg' alt='slide 3')
        li.carousel__item
          img(src='./img/about/image_02.jpg' alt='slide 4')
        li.carousel__item
          img(src='./img/about/image_04.jpg' alt='slide 5')
      .carousel__pagination
        span.carousel__dot.active
        span.carousel__dot
        span.carousel__dot