.about {
  &__title {
    margin-top: 20px;

    color: $color-dark-black;
    font-family: $font-title;
    font-size: $font-size-title;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;

    position: relative;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      background: $color-dark-black;

      position: absolute;
      left: calc(50% - 25px);
      bottom: -20px;
    }
  }

  &__text {
    margin-top: 60px;

    color: $color-black;
    font-size: 20px;
    font-style: normal;
    text-align: center;
  }
}
